openapi: 3.1.0
info:
  title: klikit Partner API — Menus
  version: 1.0.0
  description: |
    Menu Read (canonical klikit menu), Menu Mapping (POS-critical), and
    OOS / Stock Sync.

    **Menu Push is deferred to v1.x (D1, 2026-05-15)** and is not part of this
    v1 contract — the `menus:write` scope, the async menu push endpoints, and
    the job-tracking model are out of scope until a white-label partner is
    signed. The original Menu Push spec is preserved in
    [`03-menus.md`](../03-menus.md) for v1.x scoping.

    See [03-menus.md](../03-menus.md) for the prose contract and
    [CONTRACT.md](../CONTRACT.md) for the frozen reference.
  contact:
    name: klikit Partner Integrations
    email: partners@klikit.io
  license:
    name: Proprietary — klikit Partner Integration Terms
    url: https://klikit.io/legal/partner-terms
servers:
  - url: https://gateway-enterprise.klikit.io
    description: Production
  - url: https://gateway-sandbox.klikit.io
    description: Sandbox

tags:
  - name: Menu Read
    description: Discover klikit's canonical menu (scope `menus:read`)
  - name: Mapping
    description: Map partner IDs ↔ klikit IDs (scope `mapping:write`)
  - name: Stock
    description: OOS / availability / stock quantity (scope `stock:write`)

security:
  - bearerAuth: []

paths:
  /v1/partner/menus:
    get:
      tags: [Menu Read]
      summary: Get the full menu tree for a store
      description: |
        Returns the 4-level menu tree (Section → Category → Item → Modifier
        Group → Modifier) for the given branch/brand. Scoped to the
        credential's `business_id`. Requires the `menus:read` scope.
      operationId: getMenuTree
      parameters:
        - { name: branch_id, in: query, required: true, schema: { type: integer } }
        - { name: brand_id,  in: query, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Menu tree
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/MenuTree' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/items:
    get:
      tags: [Menu Read]
      summary: Paginated flat list of items
      description: Requires the `menus:read` scope.
      operationId: listMenuItems
      parameters:
        - { name: branch_id, in: query, required: true, schema: { type: integer } }
        - { name: page,      in: query, schema: { type: integer, default: 1, minimum: 1 } }
        - { name: limit,     in: query, schema: { type: integer, default: 100, minimum: 1, maximum: 500 } }
      responses:
        '200':
          description: Items
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MenuItem' }
                  pagination:
                    type: object
                    required: [page, limit, total_items, total_pages]
                    properties:
                      page:        { type: integer }
                      limit:       { type: integer }
                      total_items: { type: integer }
                      total_pages: { type: integer }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/items/{klikit_item_id}:
    get:
      tags: [Menu Read]
      summary: Get item detail (with modifier groups)
      description: Requires the `menus:read` scope.
      operationId: getMenuItem
      parameters:
        - { name: klikit_item_id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Item
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/MenuItem' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/items/{klikit_item_id}/stock:
    get:
      tags: [Stock]
      summary: Current stock state per provider
      description: Requires the `stock:write` scope (stock read is bundled into the stock capability).
      operationId: getItemStock
      parameters:
        - { name: klikit_item_id, in: path, required: true, schema: { type: integer } }
        - { name: branch_id,      in: query, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Stock state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ItemStockState' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/mappings/lookup:
    post:
      tags: [Mapping]
      summary: Bulk lookup klikit IDs by partner IDs
      description: |
        Resolves partner SKUs to klikit node IDs in bulk. Unmapped partner_ids
        return `null` in the result map. Requires the `mapping:write` scope.
      operationId: lookupMappings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, partner_ids]
              properties:
                type:
                  type: string
                  enum: [item, category, modifier_group]
                partner_ids:
                  type: array
                  items: { type: string }
                  minItems: 1
                  maxItems: 500
      responses:
        '200':
          description: Lookup result. Unmapped partner_ids map to null.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    additionalProperties:
                      oneOf:
                        - $ref: '#/components/schemas/MappingHit'
                        - type: "null"
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/items/mappings:
    post:
      tags: [Mapping]
      summary: Bulk upsert item mappings
      description: |
        Idempotency-Key required. Requires the `mapping:write` scope.
      operationId: upsertItemMappings
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MappingUpsertRequest' }
      responses:
        '200':
          description: Per-row result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MappingUpsertResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Mapping]
      summary: Bulk delete item mappings
      description: Requires the `mapping:write` scope.
      operationId: deleteItemMappings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [klikit_ids]
              properties:
                klikit_ids:
                  type: array
                  items: { type: integer }
                  minItems: 1
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted: { type: integer }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/categories/mappings:
    post:
      tags: [Mapping]
      summary: Bulk upsert category mappings
      description: Idempotency-Key required. Requires the `mapping:write` scope.
      operationId: upsertCategoryMappings
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MappingUpsertRequest' }
      responses:
        '200':
          description: Per-row result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MappingUpsertResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/modifier-groups/mappings:
    post:
      tags: [Mapping]
      summary: Bulk upsert modifier group mappings
      description: |
        Idempotency-Key required. Modifiers inherit their mapping from the
        group. Requires the `mapping:write` scope.
      operationId: upsertModifierGroupMappings
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MappingUpsertRequest' }
      responses:
        '200':
          description: Per-row result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MappingUpsertResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/items/{partner_item_id}/availability:
    patch:
      tags: [Stock]
      summary: Enable or disable an item by partner SKU
      description: |
        Toggles item availability without changing stock counts. Operates
        across all aggregators (per-aggregator override is deferred to v1.1).
        Resolves `partner_item_id` via a registered mapping — returns
        `404 unmapped` if none exists. Requires the `stock:write` scope.
      operationId: setItemAvailability
      parameters:
        - { name: partner_item_id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch_id, available]
              properties:
                branch_id: { type: integer }
                available: { type: boolean }
            examples:
              disable:
                value: { branch_id: 100, available: false }
              enable:
                value: { branch_id: 100, available: true }
      responses:
        '200':
          description: Availability updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StockUpdateResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '404': { $ref: '#/components/responses/Unmapped' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/stock/{partner_item_id}:
    patch:
      tags: [Stock]
      summary: Update OOS / stock count for one item by partner SKU
      description: |
        Resolves `partner_item_id` via a mapping registered for this
        credential — returns `404 unmapped` if none exists.

        Stock can be expressed as a count (`stock_quantity`), an explicit
        enable/disable flag (`is_enabled`), or a timed snooze
        (`snooze_duration_seconds`). When `stock_quantity` reaches 0, klikit
        fires OOS propagation to every configured aggregator.

        Requires the `stock:write` scope.
      operationId: updateItemStock
      parameters:
        - { name: partner_item_id, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StockUpdateRequest' }
            examples:
              soft_oos_1h:
                summary: Sold out for an hour
                value: { branch_id: 100, snooze_duration_seconds: 3600 }
              hard_disable:
                summary: Disable until manually re-enabled
                value: { branch_id: 100, is_enabled: false }
              restock:
                summary: Back in stock
                value: { branch_id: 100, is_enabled: true }
              stock_count:
                summary: 47 left
                value: { branch_id: 100, stock_quantity: 47, is_enabled: true }
      responses:
        '200':
          description: Acknowledged (klikit immediate; aggregator propagation async)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StockUpdateResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '404': { $ref: '#/components/responses/Unmapped' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /v1/partner/menus/stock/bulk:
    patch:
      tags: [Stock]
      summary: Bulk OOS / stock update by partner SKU
      description: |
        Each row resolves its `partner_item_id` independently; unmapped rows
        fail in the per-row results without failing the request. Requires the
        `stock:write` scope.
      operationId: bulkUpdateItemStock
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BulkStockUpdateRequest' }
      responses:
        '200':
          description: Per-row results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulkStockUpdateResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/InsufficientScope' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: |
        Replay-safe key chosen by the partner (UUID v4). klikit caches the
        response for 24h. Required on every write.

  responses:
    ValidationError:
      description: Invalid input (`validation_error`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: validation_error, message: "branch_id is required." }
    Unauthenticated:
      description: Missing, expired, or invalid token (`unauthenticated`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: unauthenticated, message: "Missing or invalid access token." }
    InsufficientScope:
      description: Token lacks the scope required for this endpoint (`insufficient_scope`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: insufficient_scope, message: "Token does not grant 'stock:write'." }
    NotFound:
      description: Resource not found, or not owned by this credential's business (`not_found`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: not_found, message: "No item with that id for this business." }
    Unmapped:
      description: No mapping registered for this partner_item_id (`unmapped`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: unmapped, message: "No mapping registered for partner SKU 'POS-SKU-998'." }
    IdempotencyConflict:
      description: Idempotency-Key reused with a different request body (`idempotency_conflict`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: idempotency_conflict, message: "Idempotency-Key already used with a different request body." }
    RateLimited:
      description: Rate limit exceeded (`rate_limit_exceeded`)
      headers:
        Retry-After:
          schema: { type: integer }
        X-RateLimit-Limit:
          schema: { type: integer }
        X-RateLimit-Remaining:
          schema: { type: integer }
        X-RateLimit-Reset:
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            error: { code: rate_limit_exceeded, message: "Too many requests." }

  schemas:
    LangMap:
      type: object
      description: Map of locale code → string. At least one entry required.
      additionalProperties: { type: string }
      minProperties: 1
      example: { en: "Classic Cheeseburger", th: "ชีสเบอร์เกอร์คลาสสิก" }

    MenuTree:
      type: object
      required: [branch_id, brand_id, currency, sections]
      properties:
        branch_id: { type: integer }
        brand_id:  { type: integer }
        currency:  { type: string }
        sections:
          type: array
          items: { $ref: '#/components/schemas/MenuSection' }

    MenuSection:
      type: object
      required: [klikit_id, title, categories]
      properties:
        klikit_id:          { type: integer }
        partner_section_id: { type: [string, "null"] }
        title:              { $ref: '#/components/schemas/LangMap' }
        available_times:
          type: array
          items: { $ref: '#/components/schemas/AvailableTime' }
        categories:
          type: array
          items: { $ref: '#/components/schemas/MenuCategory' }

    MenuCategory:
      type: object
      required: [klikit_id, title, items]
      properties:
        klikit_id:           { type: integer }
        partner_category_id: { type: [string, "null"] }
        title:               { $ref: '#/components/schemas/LangMap' }
        items:
          type: array
          items: { $ref: '#/components/schemas/MenuItem' }

    MenuItem:
      type: object
      required: [klikit_id, title, prices, is_enabled]
      properties:
        klikit_id:        { type: integer }
        partner_item_id:  { type: [string, "null"] }
        sku:              { type: [string, "null"] }
        title:            { $ref: '#/components/schemas/LangMap' }
        description:      { $ref: '#/components/schemas/LangMap' }
        image_url:        { type: [string, "null"], format: uri }
        prices:           { $ref: '#/components/schemas/Prices' }
        vat_rate:         { type: [number, "null"] }
        is_enabled:       { type: boolean }
        modifier_groups:
          type: array
          items: { $ref: '#/components/schemas/ModifierGroup' }

    ModifierGroup:
      type: object
      required: [klikit_id, title, modifiers]
      properties:
        klikit_id:                  { type: integer }
        partner_modifier_group_id:  { type: [string, "null"] }
        title:                      { $ref: '#/components/schemas/LangMap' }
        min_select:                 { type: integer, default: 0 }
        max_select:                 { type: integer, default: 1 }
        modifiers:
          type: array
          items: { $ref: '#/components/schemas/Modifier' }

    Modifier:
      type: object
      required: [klikit_id, title, price, is_enabled]
      properties:
        klikit_id:           { type: integer }
        partner_modifier_id: { type: [string, "null"] }
        title:               { $ref: '#/components/schemas/LangMap' }
        price:               { type: number }
        is_enabled:          { type: boolean }

    AvailableTime:
      type: object
      required: [day, start, end]
      properties:
        day:
          oneOf:
            - { type: integer, minimum: 0, maximum: 6 }
            - { type: string, enum: [all] }
        start: { type: string, example: "09:00" }
        end:   { type: string, example: "22:00" }

    Prices:
      type: object
      description: |
        `default` is the fallback. `by_provider` overrides per aggregator.
        Provider keys must come from `GET /v1/partner/providers` (use `name`).
      required: [default]
      properties:
        default: { type: number }
        by_provider:
          type: object
          additionalProperties: { type: number }
          example: { grabfood: 219.00, uber_eats: 219.00 }

    MappingHit:
      type: object
      required: [klikit_id]
      properties:
        klikit_id: { type: integer }
        name:      { type: string }
        sku:       { type: [string, "null"] }

    MappingUpsertRequest:
      type: object
      required: [branch_id, mappings]
      properties:
        branch_id: { type: integer }
        mappings:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: object
            required: [klikit_id, partner_id]
            properties:
              klikit_id:    { type: integer, description: "klikit node id (item / category / modifier-group)" }
              partner_id:   { type: string, description: "The partner's own SKU / identifier for this node" }
              partner_sku:  { type: [string, "null"], description: "Optional display SKU" }
              partner_name: { type: [string, "null"], description: "Optional display name" }

    MappingUpsertResponse:
      type: object
      required: [applied, skipped, errors]
      properties:
        applied: { type: integer }
        skipped: { type: integer }
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              klikit_id:  { type: [integer, "null"] }
              partner_id: { type: [string, "null"] }
              code:       { type: string }
              message:    { type: string }

    StockUpdateRequest:
      type: object
      description: |
        At least one of `is_enabled`, `stock_quantity`, or
        `snooze_duration_seconds` must be set. `snooze_duration_seconds` and
        `snooze_until_turn_back` are mutually exclusive.
      required: [branch_id]
      properties:
        branch_id:                { type: integer }
        is_enabled:               { type: [boolean, "null"], description: "Hard enable/disable. False = disabled until re-enabled." }
        stock_quantity:           { type: [integer, "null"], minimum: 0, description: "Remaining count. 0 triggers OOS propagation to aggregators." }
        snooze_duration_seconds:  { type: [integer, "null"], minimum: 1, description: "Timed soft-OOS — item auto-restocks after this many seconds." }
        snooze_until_turn_back:   { type: [boolean, "null"], description: "Soft-OOS until the next service window turn-back." }

    StockUpdateResponse:
      type: object
      required: [klikit_item_id, partner_item_id, branch_id, applied_at]
      properties:
        klikit_item_id:  { type: integer }
        partner_item_id: { type: string }
        branch_id:       { type: integer }
        applied_at:      { type: string, format: date-time }
        propagation:
          type: object
          properties:
            state: { type: string, enum: [queued, propagating, partial, completed, failed] }

    BulkStockUpdateRequest:
      type: object
      required: [branch_id, updates]
      properties:
        branch_id: { type: integer }
        updates:
          type: array
          minItems: 1
          maxItems: 500
          items:
            allOf:
              - { $ref: '#/components/schemas/StockUpdateRequest' }
              - type: object
                required: [partner_item_id]
                properties:
                  partner_item_id: { type: string }

    BulkStockUpdateResponse:
      type: object
      required: [applied, failed, results]
      properties:
        applied: { type: integer }
        failed:  { type: integer }
        results:
          type: array
          items:
            type: object
            required: [partner_item_id, ok]
            properties:
              partner_item_id: { type: string }
              ok:              { type: boolean }
              code:            { type: [string, "null"], description: "Error code when ok=false (e.g. unmapped)." }
              message:         { type: [string, "null"] }

    ItemStockState:
      type: object
      required: [klikit_item_id, branch_id, is_enabled]
      properties:
        klikit_item_id: { type: integer }
        branch_id:      { type: integer }
        is_enabled:     { type: boolean }
        stock_quantity: { type: [integer, "null"] }
        snooze:
          type: [object, "null"]
          properties:
            until_turn_back: { type: boolean }
            ends_at:         { type: [string, "null"], format: date-time }
        providers:
          type: array
          items:
            type: object
            required: [provider_id, name, status]
            properties:
              provider_id: { type: integer }
              name:        { type: string }
              status:      { type: string, enum: [synced, pending, failed, unsupported] }
              synced_at:   { type: [string, "null"], format: date-time }

    Error:
      type: object
      description: Canonical error envelope for all non-OAuth partner endpoints.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:    { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }
